<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thank You Page</title>
    <link rel="stylesheet" href="../static/main.css">
  </head>
  <body>
    <div class="container">
      <p>Thank You for your submission :)</p>
      <p>Hey <strong>{{ user_name }}<strong> , the rating you gave was <strong>{{ user_rating }}</strong>.</p>
      <p>The average rating now is <strong>{{ average_rating }}</strong></p>
      <p>The survey is in accordance with <string>{{count}}<string> different users!!!!</p>
    </div>
  </body>
</html>
